body {
     text-align: center;
     font-family: "Victor Mono";
     font-weight: bold; 
     color: #ff1493;
     padding: 0;
     margin: 0;
}

#cabecera
{
    background: #0a98af;
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}


#container {
     width: 70%;
     padding: 0;
     border: 5px solid rgb(10, 152, 175);
     box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.15);
     text-align: center;
     margin: 0 auto;
}

#container h1 {
     font-size: 40px;
}

#pos {
    padding: 1em;
}

footer {
    padding: 20px;
}